.antigravitycli
b.index
b.pth
!.[Ii][Nn][Pp][Uu][Tt]/.keep
!.[Oo][Uu][Tt][Pp][Uu][Tt]/.keep
![Ii][Nn][Pp][Uu][Tt]/.keep
![Oo][Uu][Tt][Pp][Uu][Tt]/.keep
*OUTPUT/
*TMP/
*REFS/
*TRAIN/
**/.vscode/
*.Identifier
*.py[cod]
*.pyc
*.swp
*log.txt
.DS_Store
.TOKEN
.[Ii][Nn][Pp][Uu][Tt]/
.[Oo][Uu][Tt][Pp][Uu][Tt]/
.[Tt][Ee][Mm][Pp]/
.[Tt][Mm][Pp]/
.claude/
.env
.env*
.venv/
Thumbs.db
[Ii][Nn][Pp][Uu][Tt]/
[Oo][Uu][Tt][Pp][Uu][Tt]/
[Tt][Ee][Mm][Pp]/
[Tt][Mm][Pp]/
__pycache__/
desktop.ini
log
logs/
node_modules/
npm-debug.log*
uv.lock
web/dist/
